<template>
    <div>
        <div class="bg-gray-500 border-white w-1/4 text-left p-4 m-auto" v-for="(item, index) in files" :key="item">
            {{index}}<br />
            Name: {{item.name}}<br />
            Author: {{item.author}}<br />
            Url: {{item.url}}
        </div>
        <file-upload id="upload" :auto="true" :showUploadButton="false" :showCancelButton="false" name="files[]" :multiple="true" url="./upload" :customUpload="true" @uploader="handleFileUpload" @progress="handleChangeProgress">
            <template #empty>
                <p class="border-black" >Drag and drop files to here to upload.</p>
            </template>
        </file-upload>
    </div>
</template>

<script>
import * as api from "../constants/api"
import FileUpload from 'primevue/fileupload'
import * as fileHelper from "../helpers/fileHelper"

export default {
    name: "AddNewFile",
    props:{
        saveFunction:String //předává nadřazená komponenta jako řetězec => název mutace ze storu (určuje do jaké store sekce se soubory uloží)
    },
    components: {
        FileUpload
    },
    data(){
        return {
            files: [],
            upFiles:0,
            name: "",
            url: ""
        }
    },
    methods: {
        Config(token) {
            console.log(token)
            return {headers: { Authorization: `Bearer ${token}` }}
        },
        getFiles(){
            this.axios.get(api.GET_FILES, this.Config(this.User.accessToken))
            .then((response) => {
                console.log(response.data)
                this.files = response.data
            })
        },
        handleFileUpload(event){
            for (let file of event.files){
                this.upFiles++
                console.log(file) //event.files je array nahraných souborů
                fileHelper.fileToBase64(file).then(base64Code => {
                    //console.log(base64Code)
                    
                    this.$store.commit(this.saveFunction, {
                            data:base64Code,
                            name:file.name.split(".")[0],
                            extension:file.name.split(".")[1],
                            size:file.size,
                            lastModified: file.lastModified,
                            lastModifiedDate: file.lastModifiedDate
                        })
                    
                })
            }
        }
    },
    computed:{
        User(){
            console.log(this.$store.getters.getUser)
            return this.$store.getters.getUser
        }
    },
    mounted(){
        console.log(this.$props)
        console.log(this.$store.getters.getAppState)
    }
};
</script>

<style lang="less">
#upload .p-fileupload-row{
    background-color: #E5E5E5 !important;
    width: auto;
    width: 200px;
    display: inline-block;
    max-height: 50px;
    margin-left: 5px;
    border-radius: 10px;
    border: 1px solid #BDBABA;
    color: #7D7D7D !important;
}



#upload .p-fileupload-row div:nth-child(odd){
    display: none;
}
#upload .p-fileupload-row div:nth-child(2){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#upload .p-fileupload-row > div {
    display: inline-block;
    -webkit-box-flex: 0!important;
    -ms-flex: 0!important;
    flex: 0!important; 
    width: 100px!important;
}

#upload .p-fileupload-row .p-button.p-button-icon-only{
    width: 10px;
    height: 10px;
    padding: 10px;
    box-sizing: border-box;
    //border: 1px solid black;
    border-radius: 0;
    position: relative;
    left:111px;
    bottom:80px;
     background-color: #E5E5E5 !important;
     color: black !important;
      border: 0px solid #BDBABA !important;
    .pi{
        font-size:0.5rem
    }
}
.p-fileupload .p-fileupload-buttonbar{
    background-color: #F6f5f5 !important;
}
.p-fileupload .p-fileupload-content{
    background-color: #F6f5f5 !important;
}


</style>