<template>
    <div class="grid grid-cols-12 gap-3 p-10 divide-x-4 divide-leopold-waterblue">
        <div class="col-span-9 text-left space-y-2">
            {{students}}
        </div>
        <div class="col-span-3">
            <div class="">
            </div>
            <div class="">8</div>
        </div>
    </div>
</template>

<script>
import * as api from "../constants/api"
export default {
    name: "File",
    components: {
    },
    data:() => {
        return{
            students: []
        }
    },
    methods:{
        getConfig(token) {
            console.log(token)
            return {headers: { Authorization: `Bearer ${token}` }}
        },
        getFiles(){
            this.axios.get(api.GET_ALL_STUDENTS, this.getConfig(this.User.accessToken))
            .then((response) => {
                console.log(response.data)
                this.students = response.data
            })
        },
    },
    computed:{
        User(){
            console.log(this.$store.getters.getUser)
            return this.$store.getters.getUser
        }
    },
    mounted(){
        this.getFiles()
    }
};
</script>

<style scoped>

</style>