<template>
  <div class="hello" v-if='User.login !== ""'>
    <button class="logout" v-if='User.refreshToken !== ""' @click="handleLogoutClick">
        Odhlásit se<img class="svg" :src="userIcon"/>
    </button>
  </div>
</template>

<script>
import * as appView from "../constants/appView";
import * as api from "../constants/api";

export default {
  name: "Header",
  data(){
    return{
      userIcon: require("../assets/user_icon.svg")
    }
  },
  methods:{
    handleLogoutClick(){
      this.axios.delete(api.LOGOUT).then(()=>{
          console.log("Loged out")
          this.$store.commit("setInitialUser")
          this.$store.commit('setActiveView', appView.LOGIN)
      })
    }
  },
  computed: {
    User(){
      console.log(this.$store.getters.getUser)
      return this.$store.getters.getUser
    }
  },
};
</script>

<style scoped lang="less">
.hello {
  position: fixed;
  z-index: 100;
  background-color: #276678;
  height: 50px;
  width: 100%;
  z-index: 100;
}
.logout {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  color: white;
}
</style>
