<template>
    <div class="p-20 space-y-5">
        <span class="block login-error" v-if="error === true">
            Nesprávné přihlašovací údaje
        </span>
        <span class="block">
            Login:
            <input class="login-input"  type="text" v-model="login">
        </span>
        <span class="block">
        Password:
        <input type="password" v-model="password" v-on:keyup="handleEnterPress">
        </span>
        <span class="block">
        <button
            @click="handleLoginClick"
        >
            Login
        </button>
        </span>
        <p v-if='message !== ""'>
            {{message}}
        </p>
    </div>
</template>

<script>
import * as appView from "../constants/appView";
import * as api from "../constants/api";
import * as roles from "../constants/roles";
import * as loginHelper from "../helpers/loginHelper";

export default {
    name: "Login",
    components: {
    },
    data:() => {
        return{
            login: "",
            password: "",
            message: "",
            error: false
        }
    },
    methods:{
        setLoggedInUser(data){
            console.log("Setting user as logged in")
            const tokenData = loginHelper.decodeToken(data.accessToken)
            console.log(tokenData)
            console.log(data)
            if (tokenData.role === roles.ROLE_STUDENT){
                this.$store.commit("setUserAsStudent",{
                    class_id: tokenData.user.class_id, 
                    birth_date: tokenData.user.birth_date, 
                    name: tokenData.user.name, 
                    surname:tokenData.user.surname,
                    email: tokenData.user.email,
                    email_parent:tokenData.user.email_parent,
                    phone_parent:tokenData.user.phone_parent,
                    login:tokenData.user.login,
                    password:tokenData.user.password,
                    role: tokenData.role, 
                    accessToken: data.accessToken,
                    refreshToken: data.refreshToken
                })
            }
            if (tokenData.role === roles.ROLE_TEACHER){
                this.$store.commit("setUserAsTeacher",{
                    name: tokenData.user.name, 
                    surname:tokenData.user.surname,
                    title:tokenData.user.title,
                    email: tokenData.user.email,
                    login:tokenData.user.login,
                    password:tokenData.user.password,
                    role: tokenData.role, 
                    accessToken: data.accessToken,
                    refreshToken: data.refreshToken
                })
            }
            
            this.$store.commit("setActiveView", appView.VIEW_FILE)
        },
        handleLoginClick(){
            console.log("Sending login request")
            this.axios.post(api.LOGIN, {
                login: this.login,
                password: this.password
            }).then((response)=>{
                console.log(response.data)
                if (response.data.logedIn){
                    this.setLoggedInUser(response.data)
                } else {
                    this.message = response.data.message
                }
            }).catch(() => this.error = true)
        },
        handleEnterPress(e) {
            if (e.keyCode === 13) {
                this.handleLoginClick()
            }
        }
    },
    computed:{
        
    }
};
</script>

<style scoped>
button {
    color: white;
    width: 280px;
    height: 40px;
    border-radius: 10px;
    background-color: #1687A7;
}
button:hover {
    background-color: #115e74;
}
input {
    border: 1px solid #115e74;
    border-radius: 5px;
}
.login-input {
    margin-left: 32px
}
.login-error {
    color: red;
}
</style>