<template>
  <div class="hello" v-if='User.login !== ""' v-bind:style="{width: showSideMenu ? '300px' : '70px'}" 
       @mouseover="showSideMenu = true" @mouseleave="showSideMenu = false">
    <!--Statické menu:  Statické menu se musí ručně vypsat a ručně ošetřit jestli je možné vykreslit nebo ne-->
    <div class="menu-row row" v-if='User.refreshToken !== ""'>
      <button class="menu-item">
        <img class="svg" :src="homeIcon" />
        <span v-if='showSideMenu'>Domovská stránka</span>
      </button>
    </div>
      <!--Dynamické menu(experimentální):  Dynamické menu by mělo automaticky vykreslit jen ty možnosti
      pohledů, do kterých má přístup => student nemůže hodnotit úkoly -->
    <div 
      v-for="item in Views" 
      :key="item[0]"
      @click="handleNavigationButtonClicked(item[0])"
      :view="item[0]"
      class="col-span-2 menu-row"
    >
      <button class="menu-item">
        <img class="svg" :src="item[2]" />
        <span v-if='showSideMenu'>{{item[1]}}</span>
      </button>
    </div>
  </div>
</template>

<script>
import * as appView from "../constants/appView";
import * as roles from "../constants/roles";
import * as navigationHelper from "../helpers/navigationHelper";

export default {
  name: "SideMenu",
  data(){
    return{
      homeIcon: require("../assets/home_icon.svg"),
      showSideMenu: false,
      roles: roles,
    }
  },
  methods:{
    handleNavigationButtonClicked(view){
      console.log(view)
      this.$store.commit('setActiveView', view)
    },
  },
  computed: {
    User(){
      console.log(this.$store.getters.getUser)
      return this.$store.getters.getUser
    },
    Views(){
      let views = []
      for (let view of appView.viewsMenu){
        if (navigationHelper.isAllowedToView(view[0], this.User.role)){
          views.push(view)
        }
      }

      return views
    },
  },
};
</script>

<style scoped lang="less">
.hello {
  z-index: 100;
  background-color: #1687A7;
  position: fixed;
  height: 100%;
  color: white;
  transition: 0.2s linear;
}
.svg {
  float: left;
  margin-top: -15px;
  margin-right: 10px;
}
.menu-row {
    margin-top: 20px;
    font-size: 120%;
    text-align: left;
}
.menu-item {
  margin-top: 15px;
  margin-left: 10px;
  outline: none;
}
</style>
