<template>
    <div class="p-20 space-y-5">
        <div class="text-left flex flex-wrap content-center">
            <h1 class="text-2xl ...">Nové zadání</h1>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ... back-button" @click="handleBackButton">Zpět</button>
        </div>
        <div class="bg-blue-200 w-full h-1/2 p-10 text-left space-y-3 main-container">
            <div class="p-5 grid grid-cols-3 gap-4">
                <div class="col-span-2 ...">
                    <div class="grid grid-cols-6 gap-2">
                        <label class="col-span-1 ... ">Předmět</label>
                        <select class="select col-span-5 ..." v-bind:class="{inputError:subjectError}" v-model="seletected_subject">
                            <option  v-for="subject in subjects" v-bind:key="subject">
                                {{subject.Subject.name}}
                            </option>
                        </select>
                        <label class="form-error col-span-6 ..." v-bind:class="{isVisible:subjectError}">Zvolte prosím předmět.</label> 
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="grid grid-cols-6 gap-2">
                        <label class="col-span-3 ...">Datum odevzdání</label>
                        <input type="date" class="col-span-3 ..." v-bind:class="{inputError:deadlineError}" v-model="deadline">
                        <label class="form-error col-span-6 ..." v-bind:class="{isVisible:deadlineError}">Zadejte prosím validní datum.</label> 
                    </div>
                </div>
                <div class="col-span-2 ...">
                    <div class="grid grid-cols-6 gap-2">
                        <label class="col-span-1 ...">Titulek</label>
                        <input class="nameinput col-span-5 ..." v-bind:class="{inputError:nameError}" v-model="name" type="text">
                        <label class="form-error col-span-6 ..." v-bind:class="{isVisible:nameError}">Zadejte prosím validní jméno.</label> 
                    </div>
                </div>
                <div class="col-span-1 ...">
                    <div class="grid grid-cols-6 gap-2">
                        <div class="col-span-2 ...">
                            <div class="grid grid-cols-6">
                                <label class="col-span-4 ...">Povinný</label>
                                <div class="col-span-2 ... flex flex-wrap content-center">
                                    <input class="checkboy" type="checkbox" v-model="mandatory" >
                                </div>
                            </div>
                        </div>
                        <div class="col-span-4 ...">
                            <div class="grid grid-cols-6">
                                <label class="col-span-3 ...">Max. počet bodů</label>
                                <input type="number" class="col-span-3 ..." v-bind:class="{inputError:maxPointsError}" v-model="maxPoints">
                                <label class="form-error ... col-span-6" v-bind:class="{isVisible:maxPointsError}">Maximální skóre musí být kladné.</label> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-3 ...">
                    <div class="grid grid-cols-9 gap-2">
                        <label class="col-span-1 ...">Popis zadání</label>
                        <textarea class="col-span-8 ... desc" v-model="description"></textarea>
                    </div>
                </div>
                <div class="col-span-3 ...">
                    <div class="grid grid-cols-9 gap-2">
                        <label class="col-span-1 ...">Vložený soubor</label>
                        <AddNewFileSingle class="col-span-6 ..." ref="addnewfile" :saveFunction="saveFunction" :deleteFunction="deleteFunction"></AddNewFileSingle>
                        <div class="col-span-2 ... flex flex-wrap content-end">
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded save-button" @click="createNewTask">Uložit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import * as appView from "../../constants/appView";
import * as api from "../../constants/api";
import AddNewFileSingle from "../AddNewFileSingle.vue";

export default {
name: "AddTask",
components:{
    AddNewFileSingle,
    
},

data(){
    return{
        seletected_subject: "",
        subjects: [],
        maxPoints: 10,
        mandatory: true,
        saveFunction:"addAssignmentFile",
        deleteFunction: "resetAssignmentFiles",
        name: "",
        deadline: "",
        fileUrl: "",
        assignment_id:null,
        subject_id:"",
        nameError:false,
        deadlineError:false,
        maxPointsError:false,
        subjectError:false
    }
},
methods:{
    Config(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` }}
    },
    ConfigDownload(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` },
            responseType: "blob"
            }
    }, 
    createNewTask(){
        if(this.checkValidity()){
        //console.log(this.$refs.addnewfile.upFiles)
            //pokud byl pripnutej soubor
            if (this.$refs.addnewfile.upFiles > 0){
                const files = this.$store.getters.getAssignmentFiles
                this.axios.post(api.CREATE_ASSIGNMENT, {
                    file: files[0],
                }, this.Config(this.User.accessToken)).then((response) => {
                    console.log(response)
                    this.assignment_id = response.data.assignment_id
                    //zjisteni subjectu
                    for(let curSub in this.subjects){
                        if(this.subjects[curSub].Subject.name == this.seletected_subject){ //swag protoze subjects je dict??
                            this.subject_id = this.subjects[curSub].Subject.subject_id
                        }  
                    }
                    this.axios.post(api.CREATE_TASK, {
                        assignment_id: this.assignment_id,
                        subject_id: this.subject_id,
                        name: this.name,
                        description: this.description,
                        max_score: this.maxPoints,
                        mandatory: this.mandatory,
                        deadline: this.deadline
                    }, this.Config(this.User.accessToken)).then((response) => {
                        console.log(response)
                        this.$store.commit('setActiveView', appView.SHOW_ASSIGNMENTS) //posli ho dom 
                    }) 
                })
            } else{ //pokud nebyl soubor
                //zjisteni subjectu
                for(const curSub in this.subjects){
                    if(this.subjects[curSub].Subject.name == this.seletected_subject){ //swag protoze subjects je dict??
                        this.subject_id = this.subjects[curSub].Subject.subject_id
                    }  
                }
                this.axios.post(api.CREATE_TASK, {
                    assignment_id: this.assignment_id,
                    subject_id: this.subject_id,
                    name: this.name,
                    description: this.description,
                    max_score: this.maxPoints,
                    mandatory: this.mandatory,
                    deadline: this.deadline
                }, this.Config(this.User.accessToken)).then((response) => {
                    console.log(response)
                    this.$store.commit('setActiveView', appView.SHOW_ASSIGNMENTS) //posli ho dom 
                }) 
            }
        }
    },
    checkValidity(){
        let valid = true
        this.nameError = false
        this.deadlineError = false
        this.maxPointsError = false
        this.subjectError = false
        // name
        if (this.name.length <= 0 || this.name == null){
            console.log("nevalidni jmeno")
            this.nameError = true
            valid = false
        }
        // max score
        if (this.maxPoints <= 0 || this.maxPoints == null){
            console.log("nevalidni skore")
            this.maxPointsError = true
            valid = false
        }
        // deadline 
        if (!this.deadline || !this.validateDeadline(this.deadline)){
            console.log("nevalidni deadline")
            this.deadlineError = true
            valid = false
        }
        // subject 
        if (this.seletected_subject.length <= 0 || this.seletected_subject == null){
            console.log("nevalidni subject")
            this.subjectError = true
            valid = false
        }
        console.log("tady je valid")
        console.log(valid)
        return valid
    },
    validateDeadline(deadline){
        let currentDate = new Date().toJSON().slice(0, 10) //ted cas
        let valid = true
        // datum musi byt bud dnesni nebo budouci
        if (deadline < currentDate){
            valid = false
        }
        return valid
    }, 
    handleBackButton(){
        this.$store.commit('setActiveView', appView.SHOW_ASSIGNMENTS) //posli ho dom 
    }
},
computed: {
    User(){
        console.log(this.$store.getters.getUser)
        return this.$store.getters.getUser
    },
    MandatoryMessage(){
        if (this.task.mandatory){
            return "Povinné"
        }
        return "Nepovinné"
    }
},
beforeMount(){
    this.$store.commit('resetAssignmentFiles')
    //zjisteni ucitelovych predmetu
    this.axios.get(api.GET_TEACHERS_SUBJECTS, this.Config(this.User.accessToken)).then((response) => {
            console.log(response)
            this.subjects = response.data
        })
        
},
beforeUnmount(){
    this.$store.commit('resetAssignmentFiles')
}
};
</script>

<style scoped lang="less">

.isVisible{
    display: block !important;
}
.form-error{
    color: red;
    display: none;
    font-size:15px;
}

.inputError{
    border: 1px solid red;
}

.main-container {
    background-color: #D3E0EA;
}

.desc {
    height: 150px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
     background-color: #F6f5f5;
}

.save-button{
    width: 100%;
}
input, select{
    border-radius: 5px;
    height: 40px;
    padding-left: 5px;
    background-color: #F6f5f5;
}

.checkboy{
    height: 25px;
    width: 25px;
}
.back-button{
    margin-left: 20px;
}

label{
    line-height: 40px;
    font-size:17px;
}
button{
    background-color: #1687A7;
}
button:hover{
    background-color: #115e74;
}
</style>
