<template>
    <div class="p-20 space-y-5">
        <div class="text-left flex flex-wrap content-center">
            <h1 class="text-2xl ...">Změna zadání {{beforeName}}</h1>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ... back-button" @click="handleBackButton">Zpět</button>
        </div>
        <div class="bg-blue-200 w-full h-1/2 p-10 text-left space-y-3 main-container">
            <div class="p-5 grid grid-cols-3 gap-4">
                <div class="col-span-2 ...">
                    <div class="grid grid-cols-6 gap-2">
                        <label class="col-span-1 ... ">Předmět</label>
                        <select class="select col-span-5 ..." v-bind:class="{inputError:subjectError}" v-model="seletected_subject">
                            <option  v-for="subject in subjects" v-bind:key="subject">
                                {{subject.Subject.name}}
                            </option>
                        </select>
                        <label class="form-error col-span-6 ..." v-bind:class="{isVisible:subjectError}">Zvolte prosím předmět.</label> 
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="grid grid-cols-6 gap-2">
                        <label class="col-span-3 ...">Datum odevzdání</label>
                        <input type="date" class="col-span-3 ..." v-bind:class="{inputError:deadlineError}" v-model="deadline">
                        <label class="form-error col-span-6 ..." v-bind:class="{isVisible:deadlineError}">Zadejte prosím validní datum.</label> 
                    </div>
                </div>
                <div class="col-span-2 ...">
                    <div class="grid grid-cols-6 gap-2">
                        <label class="col-span-1 ...">Titulek</label>
                        <input class="nameinput col-span-5 ..." v-bind:class="{inputError:nameError}" v-model="name" type="text">
                        <label class="form-error col-span-6 ..." v-bind:class="{isVisible:nameError}">Zadejte prosím validní jméno.</label> 
                    </div>
                </div>
                <div class="col-span-1 ...">
                    <div class="grid grid-cols-6 gap-2">
                        <div class="col-span-2 ...">
                            <div class="grid grid-cols-6">
                                <label class="col-span-4 ...">Povinný</label>
                                <div class="col-span-2 ... flex flex-wrap content-center">
                                    <input class="checkboy" type="checkbox" v-model="mandatory" >
                                </div>
                            </div>
                        </div>
                        <div class="col-span-4 ...">
                            <div class="grid grid-cols-6">
                                <label class="col-span-3 ...">Max. počet bodů</label>
                                <input type="number" class="col-span-3 ..." v-bind:class="{inputError:maxPointsError}" v-model="maxPoints">
                                <label class="form-error ... col-span-6" v-bind:class="{isVisible:maxPointsError}">Maximální skóre musí být kladné.</label> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-3 ...">
                    <div class="grid grid-cols-9 gap-2">
                        <label class="col-span-1 ...">Popis zadání</label>
                        <textarea class="col-span-8 ... desc" v-model="description"></textarea>
                    </div>
                </div>
                <div class="col-span-3 ..." v-if="showExistingFile">
                    <div class="grid grid-cols-9 gap-2">
                        <label class="col-span-1 ...">Existující soubor</label>
                        <label><a :href="oldFiles[0]" target="_blank">{{assignmentFileName}}</a></label>
                    </div>
                </div>
                <div class="col-span-3 ...">
                    <div class="grid grid-cols-9 gap-2">
                        <label class="col-span-1 ...">Vložený soubor</label>
                        <AddNewFileSingle 
                            class="col-span-6 ..." 
                            ref="addnewfile" 
                            :saveFunction="saveFunction"
                            :preloadedFiles="oldFiles"
                        ></AddNewFileSingle>
                        <div class="col-span-2 ... flex flex-wrap gap-6" v-bind:class="{'content-between':showExistingFile, 'content-end':!showExistingFile}">
                                <button v-if="showExistingFile" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded save-button" @click="handleDeleteButton">Odstranit existující soubor</button>
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded save-button" @click="editTask">Uložit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>

import * as api from "../../constants/api";
import AddNewFileSingle from "../AddNewFileSingle.vue";
import * as fileHelper from "../../helpers/fileHelper";
import * as appView from "../../constants/appView";
import * as generalHelper from "../../helpers/generalHelper";

export default {
name: "EditTask",
props:{
    taskId:String
},
components:{
    AddNewFileSingle,
    
},

data(){
    return{
        seletected_subject: "",
        subjects: [],
        maxPoints: 10,
        mandatory: true,
        saveFunction:"addAssignmentFile",
        name: "",
        deadline: "",
        assignment_id:null,
        subject_id:"",
        beforeName:"",
        assignmentFilePath:"",
        assignmentFileName:"",
        files: [],
        fileUrl: "",
        task_id:"",
        oldFiles:[],
        oldDetails:[],
        nameError:false,
        deadlineError:false,
        maxPointsError:false,
        deletedFile:false,
        showExistingFile:false
    }
},
methods:{
    Config(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` }}
    },
    ConfigDownload(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` },
            responseType: "blob"
            }
    },
    editTask(){
        if(this.checkValidity()){
            //pokud byl pripnutej soubor
            if (this.$refs.addnewfile.upFiles > 0){
                const files = this.$store.getters.getAssignmentFiles
                console.log("TADY PISU FILES")
                console.log(files)
                //zjisteni subjectu
                for(let curSub in this.subjects){
                    if(this.subjects[curSub].Subject.name == this.seletected_subject){ //swag protoze subjects je dict??
                        this.subject_id = this.subjects[curSub].Subject.subject_id
                    }  
                }
                this.axios.post(api.EDIT_TASK, {
                    assignment_id: this.assignment_id,
                    subject_id: this.subject_id,
                    name: this.name,
                    description: this.description,
                    max_score: this.maxPoints,
                    mandatory: this.mandatory,
                    deadline: this.deadline, 
                    task_id: this.task_id,
                    file: files[0],
                    deletedFile:this.deletedFile
                }, this.Config(this.User.accessToken)).then((response) => {
                    console.log(response)
                    //this.$store.state.task.assignment.files = []
                    this.$store.commit('setActiveView', appView.SHOW_ASSIGNMENTS) //posli ho dom 
                }) 
            } else { //pokud nebyl soubor
                //zjisteni subjectu
                for(const curSub in this.subjects){
                    if(this.subjects[curSub].Subject.name == this.seletected_subject){ //swag protoze subjects je dict??
                        this.subject_id = this.subjects[curSub].Subject.subject_id
                    }  
                }
                this.axios.post(api.EDIT_TASK, {
                    assignment_id: this.assignment_id,
                    subject_id: this.subject_id,
                    name: this.name,
                    description: this.description,
                    max_score: this.maxPoints,
                    mandatory: this.mandatory,
                    deadline: this.deadline,
                    task_id: this.task_id,
                    file:null,
                    deletedFile:this.deletedFile
                }, this.Config(this.User.accessToken)).then((response) => {
                    console.log(response)
                    //this.$store.state.task.assignment.files = []
                    this.$store.commit('setActiveView', appView.SHOW_ASSIGNMENTS) //posli ho dom 
                }) 
            }
        }
    },
    checkValidity(){
        let valid = true
        this.nameError = false
        this.deadlineError = false
        this.maxPointsError = false
        // nic se nezmenilo
        if ((this.oldDetails.name === this.name) && (this.oldDetails.description === this.description) && (this.oldDetails.maxPoints === this.maxPoints) && (this.oldDetails.mandatory === this.mandatory) && (this.oldDetails.deadline === this.deadline)){
            console.log("nic se nezmenilo")
            valid = false            
        } 
        // name
        if (this.name.length <= 0 || this.name == null){
            console.log("nevalidni jmeno")
            this.nameError = true
            valid = false
        }
        // max score
        if (this.maxPoints <= 0 || this.maxPoints == null){
            console.log("nevalidni skore")
            this.maxPointsError = true
            valid = false
        }
        // deadline 
        if (!this.deadline || !this.validateDeadline(this.deadline)){
            console.log("nevalidni deadline")
            this.deadlineError = true
            valid = false
        }
        console.log("tady je valid")
        console.log(valid)
        return valid
    },
    validateDeadline(deadline){
        let currentDate = new Date().toJSON().slice(0, 10) //ted cas
        let valid = true
        // datum musi byt bud dnesni nebo budouci
        if (deadline < currentDate){
            valid = false
        }
        return valid
    }, 
    handleBackButton(){
        this.$store.commit('setActiveView', appView.SHOW_ASSIGNMENTS) //posli ho dom 
    },
    formatTime(time, delimeter) {
        return generalHelper.formatTime(time, delimeter);
    },
    handleDeleteButton(){
        this.showExistingFile = false
        this.deletedFile = true
    }
},
computed: {
    User(){
        console.log(this.$store.getters.getUser)
        return this.$store.getters.getUser
    },
    MandatoryMessage(){
        if (this.task.mandatory){
            return "Povinné"
        }
        return "Nepovinné"
    },
    StoreProps(){
        return this.$store.getters.getAppState.activeViewProps
    }
},
beforeMount(){
    //this.$store.state.task.assignment.files = []
    this.$store.commit('resetAssignmentFiles')
    //předtím než se pohled začne renderovat volá data pro task (id) jak je získá volá data příslušná k tasku => subject a assignment
    this.axios.get(api.GET_TEACHERS_SUBJECTS, this.Config(this.User.accessToken)).then((response) => {
        this.subjects = response.data
        //nastaveni puvodnich hodnot
        this.axios.get(api.GET_TASK+this.StoreProps.task_id, this.Config(this.User.accessToken)).then((response) => {
            this.name = response.data.name,
            this.beforeName = response.data.name,
            this.maxPoints = response.data.max_score,
            this.deadline = response.data.deadline,
            this.description = response.data.description,
            this.mandatory = response.data.mandatory,
            this.assignment_id = response.data.assignment_id,
            this.task_id = response.data.task_id,
            this.oldDetails = response.data
            //zjisteni puvodniho subjectu
            for(let curSub in this.subjects){
                if(this.subjects[curSub].Subject.subject_id == response.data.subject_id){ //swag protoze subjects je dict??
                    this.seletected_subject = this.subjects[curSub].Subject.name
                }  
            }
            //fixnuti deadlinu aby se zobrazoval
            this.deadline = this.formatTime(this.deadline)
            this.oldDetails.deadline = this.deadline 
            //ziskani assignmentu
            if(this.assignment_id){
                this.axios.get(api.GET_ASSIGNMENT+this.assignment_id, this.Config(this.User.accessToken)).then((response) => {
                    this.assignmentFilePath = response.data.file_path
                    const assignmentFileNameHelper = this.assignmentFilePath.split("\\")
                    this.assignmentFileName = assignmentFileNameHelper[assignmentFileNameHelper.length-1] //existing file
                    //stazeni souboru
                    const parametersInUrl = assignmentFileNameHelper[assignmentFileNameHelper.length - 2]+"/"+assignmentFileNameHelper[assignmentFileNameHelper.length - 1]
                    this.axios.get(api.DOWNLOAD_FILE+parametersInUrl, this.ConfigDownload(this.User.accessToken)).then((response) => {
                        this.fileUrl = fileHelper.dataToFile(response.data, response.headers["content-type"])
                        this.oldFiles.push(this.fileUrl)
                        this.showExistingFile = true
                    })
                })
            }
        })
    })
    console.log(this.files)
},
beforeUnmount(){
    this.$store.commit('resetAssignmentFiles')
}
};
</script>

<style scoped lang="less">

.isVisible{
    display: block !important;
}
.form-error{
    color: red;
    display: none;
}

.inputError{
    border: 1px solid red;
}


.main-container {
    background-color: #D3E0EA;
}

.desc {
    height: 150px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    background-color: #F6f5f5;
}

.save-button{
    width: 100%;
}
input, select{
    border-radius: 5px;
    height: 40px;
    padding-left: 5px;
    background-color: #F6f5f5;
}

.checkboy{
    height: 25px;
    width: 25px;
}
.back-button{
    margin-left: 20px;
}

label{
    line-height: 40px;
    font-size:17px;
}
button{
    background-color: #1687A7;
}
button:hover{
    background-color: #115e74;
}

</style>
