<template>
    <div class="p-20 space-y-5 " v-if="tasks !== []">
        <div class="search-container">
            <input class="search-input" placeholder="Hledaný výraz" v-model="filterText" @change="setTaskFilter">
            <img class="search-svg" :src="searchIcon" />
        </div>
        <div class="text-left">
            <h1 class="text-2xl">Přehled mých úkolů</h1>
        </div>


        <div class="bg-blue-200 w-full h-1/2 p-10 text-left space-y-3 main-container">
            <template v-for="item of filteredTasks" :key="item">
                <template v-for="taskSection of item" :key="taskSection">
                    <div class="bg-gray-100 grid grid-cols-12 gap-3 p-5 task-container">
                        <div class="col-span-1 bg-blue-900 p-5 text-white deadline">
                            <span class="align-middle">{{taskSection.key}}</span>
                        </div>
                        <div class="col-span-11">
                            <template v-for="task of taskSection.tasks" :key="task">
                                <div class="grid grid-cols-12 gap-3 p-5 mb-4 cursor-pointer hover:bg-gray-600 hover:text-white task" @click="handleTaskClick($event)" :data-id="task.task_id">
                                    <div class="col-span-11">
                                        <span class="display-flex">
                                            <h3>{{User.name+" "+User.surname}}</h3>
                                            <img class="student-svg" :src="attachmentIcon" /> <!-- TODO? -->
                                        </span>
                                        <h3 class=" font-bold">{{task.name}}</h3>
                                        {{task.description}}
                                    </div>
                                    <div class="col-span-1">
                                        <img class="svg" :src="folderIcon" />
                                    </div>
                                </div>
                                <hr v-if="taskSection.tasks.indexOf(task) < taskSection.tasks.length - 1" class="border-t border-gray-400"/>
                            </template>
                            
                        </div>
                    </div>
                </template>
            </template>
        </div>
    </div>
</template>

<script>
import * as api from "../../constants/api"
import * as appView from "../../constants/appView"
import * as generalHelper from "../../helpers/generalHelper"
export default {
name: "MyTasks",
props:{
},
data(){
    return{
        tasks: [],
        filteredTasks: [],
        filterText: "",
        tasksIcon: require("../../assets/tasks_icon.svg"),
        folderIcon: require("../../assets/folder_icon.svg"),
        attachmentIcon: require("../../assets/attachment_icon.svg"),
        searchIcon: require("../../assets/search_icon.svg"),
    }
},
methods:{
    Config(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` }}
    },
    formatTime(time, delimeter) {
        return generalHelper.formatTime(time, delimeter);
    },
    handleTaskClick(event){
        console.log(event.currentTarget.dataset)
        this.$store.commit('setActiveViewWithProps',{
            view: appView.SHOW_TASK,
            props: {
                task_id: event.currentTarget.dataset.id
            }
        })
    }
},
watch: {
    filterText(value){
        if (value === ""){
            this.filteredTasks = this.tasks
        } else {
            let filteredTasks = []
            for (let taskGroup of this.tasks){
                let filteredTaskGroup = []
                for (let tasks of taskGroup){
                    for (let task of tasks.tasks) {
                        if ((task.name && task.name.includes(value)) || (task.description && task.description.includes(value))) {
                            filteredTaskGroup.push(tasks)
                        }
                    }
                }
                filteredTasks.push(filteredTaskGroup)
            }
            this.filteredTasks = filteredTasks
        }
        
    }
},
computed: {
    User(){
        console.log(this.$store.getters.getUser)
        return this.$store.getters.getUser
    }
},

created(){
    this.axios.get(api.GET_CLASS_TO_SUBJECT+this.User.class_id, this.Config(this.User.accessToken)).then((response) => {
            console.log(response.data)
            const subjectsToClass = response.data
            for (let subjectToClass of subjectsToClass){
                console.log(subjectToClass)
                this.axios.get(api.GET_SUBJECT_TASKS+subjectToClass.subject_id, this.Config(this.User.accessToken)).then((response) => {
                    console.log(response)
                    let tasks = []
                    for (let task of response.data){
                        let date = new Date(task.deadline)
                        const dateKey = date.getDate()+"."+(date.getMonth()+1)+". " + date.getFullYear()
                        let taskExist = false
                        for (let assignedTask of tasks){
                            if (assignedTask.key === dateKey){
                                taskExist = true
                                assignedTask.tasks.push(task)
                            }
                        }
                        if (!taskExist){
                            let taskToAssign = {
                                key:dateKey,
                                tasks:[]
                            }
                            taskToAssign.tasks.push(task)
                            tasks.push(taskToAssign)
                        }
                        console.log(dateKey)
                    }
                    
                    this.tasks.push(tasks)
                    this.filteredTasks.push(tasks)
                    console.log(this.filteredTasks)
                })
            }
            
        })
}
};
</script>

<style scoped lang="less">
.task-container {
    background-color: rgb(255,255,255,0.7);
    border-radius: 5px;
}
.task {
    border-radius: 5px;
}
.search-container {
    display: flex;
    justify-content: center;
}
.search-input {
    height: 45px;
    width: 70%;
    background-color: #F6F5F5;
    border-radius: 10px;
    padding: 0 0 0 10px;
    outline: none;
}
.search-svg {
    position: relative;
    right: 35px;
}
.main-container {
    background-color: #D3E0EA;
}
.display-flex {
    display: flex;
}
.student-svg {
    margin-left: 5px;
}
.deadline {
    float: left;
    height: 70px;
    width: 70px;
    max-width: 150px;
    border-radius: 50%;
    font-size:16px;
    color: white;
    background-color: #276678;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}
</style>
