<template>
    <div class="p-20 space-y-5">
        <div class="text-left flex flex-wrap content-between justify-between">
            <h1 class="text-2xl ...">Přehled vašich zadání</h1>
            <button class="new-button ..." v-on:click="handleNewTaskClick">NOVÉ ZADÁNÍ</button>
        </div>
        <div class="bg-blue-200 w-full h-1/2 p-10 text-left space-y-3 main-container">
            <div class="grid grid-cols-3 gap-4">
                <div class="col-span-3 ...">
                    <div class="grid grid-cols-12 gap-2">
                        <select class="col-span-5 ... form-control subject-select" v-model="selected_subject" @change="handleSubjectChange"> <!-- předmět -->
                            <option v-for="item in subjects" :value="item.subject_id" :key="item.subject_id">
                            {{ item.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="bg-gray-200 p-5 col-span-3 ... task-container" v-for="task in tasks" :key="task.task_id">
                <div class="grid grid-cols-8 gap-2 flex flex-wrap items-center">
                    <div class="deadline col-span-1 ... ">
                        {{formatTime(task.deadline, ". ")}}
                    </div>
                    <div class="col-span-7 ...">
                        <div class="grid grid-cols-12">
                            <div class="col-span-12 flex flex-wrap content-between justify-between ...">
                                <h2 class="font-bold ">{{task.name}}</h2>
                                <span class="task-btn ...">
                                    <button v-on:click="handleEditTaskClick(task.task_id)"><img :src="editIcon" class="svg task-control-btn"/></button>
                                    <button v-on:click="handleDeleteSubject(task.task_id)"><img :src="closeIcon" class="svg task-control-btn"/></button>
                                </span>
                            </div>
                            <div class="col-span-12 ...">
                                {{task.description}}              
                            </div>  
                            <div class="col-span-1 ...">
                                Max. počet bodů: {{task.max_score}}
                            </div>
                            <div class="col-span-12 flex flex-wrap content-between justify-between ..." >
                                {{mandatoryMessage(task)}}
                                <button v-on:click="handleGoToTaskSolutionClick(task.task_id)" class="flex flex-wrap content-between justify-between bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded go-to-btn">Řešení<img :src="goArrowIcon" class="svg task-control-btn"/></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import * as appView from "../../constants/appView";
import * as api from "../../constants/api";
import * as generalHelper from "../../helpers/generalHelper";

export default {
name: "ShowAssignments",
props:{
    taskId:String
},
components:{
    //AddNewFile
},

data(){
    return{
        editIcon: require("../../assets/edit_icon.svg"),
        closeIcon: require("../../assets/close_icon.svg"),
        goArrowIcon: require("../../assets/go_arrow_icon.svg"),
        saveFunction: "addTaskSolutionFile",
        subjects: [],
        selected_subject: "",
        tasks: [],
        assignments: [],

        task:{subject:{name:""}},
        fileUrl: ""
    }
},
methods:{
    Config(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` }}
    },
    ConfigDownload(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` },
            responseType: "blob"
            }
    },
    handleNewTaskClick() {
        this.$store.commit('setActiveView', appView.ADD_TASK)
    },
    handleEditTaskClick(taskId) {
        this.$store.commit('setActiveViewWithProps', {
            view: appView.EDIT_TASK,
            props: {
                task_id: taskId
            }
        })
    },
    handleSubjectChange(){
        if (this.selected_subject) {
            this.axios.get(api.GET_SUBJECT_TASKS+this.selected_subject, this.Config(this.User.accessToken)).then((response) => {
                this.tasks = response.data
                this.sortTasks()
            })
        }
    },
    handleDeleteSubject(task_id){
        this.axios.get(api.DELETE_TASK+task_id, this.Config(this.User.accessToken))
        
        this.axios.get(api.GET_TEACHERS_SUBJECTS, this.Config(this.User.accessToken)).then((response) => {
        this.subjects = response.data.map(item => item.Subject);
        this.selected_subject = this.subjects.length ? this.subjects[0].subject_id : "";

        //getRequest assignments
        this.axios.get(api.GET_ALL_ASSIGNMENTS, this.Config(this.User.accessToken)).then((response) => {
            this.assignments = response.data
        })
        //getRequest subject GET_SUBJECT_TASKS
        if (this.selected_subject) {
            this.axios.get(api.GET_SUBJECT_TASKS+this.selected_subject, this.Config(this.User.accessToken)).then((response) => {
                this.tasks = response.data
            })
        }
        })
    },
    formatTime(time, delimeter) {
        return generalHelper.formatTimePretty(time, delimeter);
    },
    sortTasks(){
        this.tasks.sort(function(a,b){
        // Turn your strings into dates, and then subtract them
        // to get a value that is either negative, positive, or zero.
        return new Date(b.deadline) - new Date(a.deadline);
        });
    },
    mandatoryMessage(task)  {
        if (task.mandatory){
            return "Povinné"
        }
        return "Nepovinné"
    },
    handleGoToTaskSolutionClick(task_id){
        this.$store.commit('setActiveViewWithProps', {
            view: appView.SHOW_SOLUTIONS,
            props: {
                task_id: task_id
            }
        })
        return task_id
    }
},
computed: {
    User(){
        console.log(this.$store.getters.getUser)
        return this.$store.getters.getUser
    },

},
beforeMount(){
    this.axios.get(api.GET_TEACHERS_SUBJECTS, this.Config(this.User.accessToken)).then((response) => {
        this.subjects = response.data.map(item => item.Subject);
        this.selected_subject = this.subjects.length ? this.subjects[0].subject_id : "";

        //getRequest assignments
        this.axios.get(api.GET_ALL_ASSIGNMENTS, this.Config(this.User.accessToken)).then((response) => {
            this.assignments = response.data
        })
        //getRequest subject GET_SUBJECT_TASKS
        if (this.selected_subject) {
            this.axios.get(api.GET_SUBJECT_TASKS+this.selected_subject, this.Config(this.User.accessToken)).then((response) => {
                this.tasks = response.data
                this.sortTasks()
            })
        }
    })
}
};
</script>

<style scoped lang="less">


.new-button {
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #1687A7;
}
.new-button:hover {
    background-color: #115e74;
}
.main-container {
    background-color: #D3E0EA;
}
.task-container {
    background-color: rgb(255,255,255,0.7);
    border-radius: 5px;
}
.subject-select{
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.task-control-btn{
    margin-left: 10px;
}
.go-to-btn{
    background-color: #1687A7;
}
.go-to-btn:hover{
    background-color: #115e74;
}
.deadline {
    float: left;
    height: 100px;
    max-width: 150px;
    border-radius: 10px;
    font-size:19px;
    color: white;
    background-color: #276678;
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
</style>
