<template>
  <div class="p-20 space-y-5">
    <div class="text-left grid grid-cols-12">
      <p class="text-2xl col-span-2">Přehled řešení</p>
      <button class="back-button" v-on:click="handleBackButton">Zpět</button>
    </div>
  <div v-if="task_solutions.length === 0" class="content_background">
    <h2>Žádná řešení</h2>
  </div>
    <div v-if="task_solutions.length > 0" class="content_background">
      <div id="task_info">
        <div class="flex">
          <div class="mr-auto text-left">
            <p class="font-bold xl">{{ task_solutions[0].Task.name }}</p>

            <div class="flex-row space-x-8">
              <span class="flex-auto">
                Předmět: {{ task_solutions[0].Task.Subject.name }}
              </span>
              <span class="flex-auto">Třída: {{ task_solutions.class.name }}</span>
            </div>
          </div>
          <div class="deadline flex items-center px-2 rounded-lg ml-auto" style="background-color: #276678">
            <p class="my-3 text-white">
              {{ formatTime(task_solutions[0].Task.deadline, ". ") }}
            </p>
          </div>
        </div>

        <p class="text-justify py-2">
          {{ task_solutions[0].Task.description }}
        </p>

        <div class="grid grid-cols-12 gap-2 text-left">
          <span class="col-span-3">
            Max. počet bodů: {{ task_solutions[0].Task.max_score }}
            </span>
          <span class="col-span-2">{{ MandatoryMessage }}</span>
        </div>
      </div>

      <div id="solutions">
        <p class="pt-2 pb-1 font-bold xl">Odevzdaná řešení</p>
        <div id="unmarked">
          <h4 class="pb-2 text-white">Neohodnocená řešení</h4>

          <div v-for="task_solution in unmarkedSolutions" :key="task_solution.task_solution_id">
            <button class="solution_row grid grid-cols-12" v-on:click="evaluateSolution(task_solution.task_solution_id)">
              <span class="student col-span-2">
                {{ task_solution.Student.name }}
                {{ task_solution.Student.surname }}
              </span>
              <span class="filename col-span-8">
                {{ getSolutionFileName(task_solution.file_path) }}
              </span>
            </button>
          </div>
        </div>

        <div id="marked">
          <h3 class="pb-2 text-white">Ohodnocená řešení</h3>
          <div v-for="task_solution in markedSolutions" :key="task_solution.task_solution_id">
            <button class="solution_row grid grid-cols-12" v-on:click="evaluateSolution(task_solution.task_solution_id)">
              <span class="student col-span-2">
                {{ task_solution.Student.name }}
                {{ task_solution.Student.surname }}
              </span>
              <span class="filename col-span-8">
                {{ getSolutionFileName(task_solution.file_path) }}
              </span>
              <span class="score col-span-2">
                Počet bodů: {{ task_solution.score }}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
import * as api from "../../constants/api";
import * as appView from "../../constants/appView";
import * as generalHelper from "../../helpers/generalHelper";

export default {
  name: "ShowSolutions",
  props: {
    taskId: String,
  },
  data() {
    return {
      task_solutions: [],
    };
  },
  methods: {
    Config(token) {
      console.log(token);
      return {
        headers: { Authorization: `Bearer ${token}` },
      };
    },
    ConfigDownload(token) {
      console.log(token);
      return {
        headers: { Authorization: `Bearer ${token}` },
        responseType: "blob",
      };
    },
    getSolutionFileName: function (solutionFilePath) {
      let solutionFileNameHelper = solutionFilePath.split("\\")
      let solutionFileName = solutionFileNameHelper[solutionFileNameHelper.length-1]

      return solutionFileName;
    },
    formatTime(time, delimeter) {
      return generalHelper.formatTimePretty(time, delimeter)
    },
    evaluateSolution(taskSolutionId) {
      this.$store.commit('setActiveViewWithProps', {
        view: appView.TASK_EVALUATION,
        props: {
            solution_id: taskSolutionId,
            task_id: this.StoreProps.task_id
        }
      })
    },
    handleBackButton(){
        this.$store.commit('setActiveView', appView.SHOW_ASSIGNMENTS) 
    }
  },
  computed: {
    User() {
      console.log(this.$store.getters.getUser);
      return this.$store.getters.getUser;
    },
    MandatoryMessage() {
      if (this.task_solutions[0].Task.mandatory) {
        return "Povinný úkol";
      }
      return "Nepovinný úkol";
    },
    markedSolutions: function () {
      return this.task_solutions.filter(function (task_solution) {
        return task_solution.score != null;
      });
    },
    unmarkedSolutions: function () {
      return this.task_solutions.filter(function (task_solution) {
        return task_solution.score == null;
      });
    },
    StoreProps(){
        return this.$store.getters.getAppState.activeViewProps
    }
  },
  created() {
    let propsTaskId = this.StoreProps.task_id
    console.log(propsTaskId)
    this.axios.get(api.GET_TASK_SOLUTIONS+propsTaskId, this.Config(this.User.accessToken)).then((response) => {
        console.log(response);
        this.task_solutions = response.data;
        if (this.task_solutions.length > 0){
          //getRequest class
          this.axios.get(api.GET_CLASS + this.task_solutions[0].Student.class_id).then((response) => {
            console.log(response);
            this.task_solutions.class = response.data;
          });
        }
      });
  },
};
</script>

<style scoped lang="less">
.back-button{
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.5rem;
  background-color: #276678;
  margin-left: 1rem;
}

#task_info {
  background-color: whitesmoke;
  padding: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.content_background {
  padding: 2.5rem;
  background-color:#D3E0EA; 
  width: 100%;
  height: 50%;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

#solutions {
  text-align: left;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

#unmarked, #marked {
  padding: 0.75rem 1rem;
  background-color: #276678;
}

.solution_row {
  padding: 0.5rem;
  background-color: whitesmoke;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.student, .filename, .score {
  text-align: left;
  padding-left: 0.5rem;
}
</style>
