<template>
    <div class="p-20 space-y-5">
        <div class="text-left flex flex-wrap content-center">
            <h1 class="text-2xl">Přehled úkolu {{task.name}}</h1>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ... back-button" @click="handleBackButton">Zpět</button>
        </div>
        <div class="bg-blue-200 w-full h-1/2 p-10 text-left space-y-3 main-container">
            <div class="bg-gray-200 p-5 space-y-5 fields">
                <div class="text-left flex flex-wrap content-center  items-center justify-between">
                    <h2 class="font-bold">{{task.name}}</h2>
                    <div class="deadline ">
                        {{formatTime(task.deadline, ". ")}}
                    </div>
                </div>
                <h3>Předmět: {{task.subject.name}}</h3>
                <p>{{task.description}}</p>
                <div class="grid grid-cols-8 gap-3 ">
                    <div v-if="hasAssignmentFile" class="col-span-6" >
                        <a :href="fileUrl" target="_blank">Stáhnout soubor se zadaním</a>
                    </div>
                    <div v-else class="col-span-6"/>
                    <div class="col-span-2 flex flex-wrap justify-between">
                        <div>Max. počet bodů: {{task.max_score}}</div>
                        <div>{{MandatoryMessage}}</div>
                    </div>

                </div>
            </div>
            <!--
            <div class="grid grid-cols-9 gap-2 comment-section">
                <label class="col-span-1 ...">Komentář:</label>
                <textarea class="col-span-8 ... desc" v-model="description"></textarea>
            </div> -->
            <div class="grid grid-cols-9 gap-2 next-section">
                <label class="col-span-1 ...">Vložit soubory:</label>
                <add-new-file  class="col-span-6 ..." :saveFunction="saveFunction" v-bind:class="{isError:fileError}" ref="addnewfile"></add-new-file>
                <div class="col-span-2 ... flex flex-wrap content-end">
                        <button class="bg-blue-500 hover:bg-blue-700 font-bold text-white py-2 px-4 rounded save-button" @click="sendFiles">ODEVZDAT SOUBORY</button>
                </div>
                <label class="form-error ... col-start-2 col-end-10 ..." v-bind:class="{isVisible:fileError}">Nahrajte prosím soubory k odevzdání.</label> 
            </div>
            <div v-if="User.debug === true">
                {{task}}
            </div>
        </div>
    </div>
</template>

<script>
import * as appView from "../../constants/appView";
import * as api from "../../constants/api";
import * as fileHelper from "../../helpers/fileHelper";
import AddNewFile from "../AddNewFile.vue";
import * as generalHelper from "../../helpers/generalHelper";

export default {
name: "ShowTask",
props:{
},
components:{
    AddNewFile
},
data(){
    return{
        saveFunction: "addTaskSolutionFile",
        task:{subject:{name:""}},
        fileUrl: "",
        hasAssignmentFile:false,
        fileError:false
    }
},
methods:{
    Config(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` }}
    },
    ConfigDownload(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` },
            responseType: "blob"
            }
    },
    handleUploadClick(){
        this.$store.commit('setActiveView', appView.VIEW_ADD_NEW_FILE)
    },
    handleFileClick(){
        this.$store.commit('setActiveView', appView.VIEW_FILE)
    },
    showFiles(){
        console.log(this.$store.getters.getTaskSolutionFiles)
    },
    sendFiles(){
        this.fileError = false
        if(this.$refs.addnewfile.upFiles > 0){
            const files = this.$store.getters.getTaskSolutionFiles
            for (let file of files){
                this.axios.post(api.CREATE_TASK_SOLUTION, {
                    file: file,
                    task_id: this.StoreProps.task_id
                }, this.Config(this.User.accessToken)).then((response) => {
                    console.log(response)
                })
            }
            this.$store.commit('setActiveView', appView.MY_TASKS) //posli ho dom 
        } else {
            this.fileError = true
        }

    },
    formatTime(time, delimeter) {
        return generalHelper.formatTimePretty(time, delimeter);
    },
    isDeadlineOver(deadline) {
        return Date.now() > Date.parse(deadline);
    },
    handleBackButton(){
        this.$store.commit('setActiveView', appView.MY_TASKS) //posli ho dom 
    }
},
computed: {
    AppState(){
        console.log(this.$store.getters.getAppState)
        return this.$store.getters.getAppState
    },
    User(){
        console.log(this.$store.getters.getUser)
        return this.$store.getters.getUser
    },
    StoreProps(){
        return this.$store.getters.getAppState.activeViewProps
    },
    MandatoryMessage(){
        if (this.task.mandatory){
            return "Povinný úkol"
        }
        return "Nepovinný úkol"
    }
},
created(){
    //předtím než se pohled začne renderovat volá data pro task (id) jak je získá volá data příslušná k tasku => subject a assignment
    let propsTaskId = this.StoreProps.task_id
    this.axios.get(api.GET_TASK+propsTaskId, this.Config(this.User.accessToken)).then((response) => {
            console.log(response)
            this.task = response.data
            //getRequest subject
            this.axios.get(api.GET_SUBJECT+this.task.subject_id, this.Config(this.User.accessToken)).then((response) => {
                console.log(response)
                this.task.subject = response.data
            })
            //getRequest assignment
            this.axios.get(api.GET_ASSIGNMENT+this.task.assignment_id, this.Config(this.User.accessToken)).then((response) => {
                console.log(response)
                this.task.assignment = response.data

                const assignmentFileName = response.data.file_path.split("\\")
                console.log(assignmentFileName)
                const parametersInUrl = assignmentFileName[assignmentFileName.length - 2]+"/"+assignmentFileName[assignmentFileName.length - 1]
                this.axios.get(api.DOWNLOAD_FILE+parametersInUrl, this.ConfigDownload(this.User.accessToken)).then((response) => {
                    console.log(response)
                    this.fileUrl = fileHelper.dataToFile(response.data, response.headers["content-type"])
                    this.hasAssignmentFile = true
                })
            })
        })
}
};
</script>

<style scoped lang="less">

.main-container {
    background-color: #D3E0EA;
}

.fields{
    background-color: #F6f5f5;
    border-radius: 5px;
}

.form-error{
    color: red;
    display: none;
    font-size:15px;
}

.isVisible{
    display: block !important;
}

.isError{
    border: 1px red solid;
    border-radius: 5px;
}

.deadline {
    float: left;
    height: 40px;
    max-width: 150px;
    border-radius: 10px;
    font-size:16px;
    color: white;
    background-color: #276678;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}
.desc{
    background-color: #F6f5f5;
    height: 150px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}

.deadline-over {
    color: red;
    font-weight: 600;
}

.next-section{
    margin-top: 40px !important;
}

.save-button{
    width: 100%;
}

.back-button{
    margin-left: 20px;
}

button{
    background-color: #1687A7;
}
button:hover{
    background-color: #115e74;
}
</style>
