<template>
    <div class="p-20 space-y-5">
        <div class="text-left flex flex-wrap content-center">
            <h1 class="text-2xl">Hodnocení odevzdaného řešení</h1>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ... back-button" @click="handleBackButton">Zpět</button>
        </div>
        <div class="bg-blue-200 w-full h-1/2 p-10 text-left grid grid-cols-12 gap-3 main-container">
            <div class="p-5 space-y-5 col-span-4">
                <h2 class="font-bold">{{taskSolution.task.name}}</h2>
                <h3>Předmět: {{taskSolution.task.subject.name}}</h3>
                <h3>Student: {{taskSolution.student.name+" "+taskSolution.student.surname}}</h3>
                <h3>Třída: {{taskSolution.class.name}}</h3>
                <h3>Odevzdáno: {{formatTime(taskSolution.task.deadline, ".")}}</h3>
                <div >
                    <label>Počet bodů:</label> <input class="score-input rounded-15" type="text" v-model="taskSolution.score"/>
                </div>
                <!--<div class="">
                    <div class="">
                        <h3>Slovní hodnocení úkolu</h3>
                        <textarea></textarea>
                    </div>
                </div>-->
            </div>
            <div class="col-span-8">
                <div class="grid grid-cols-12 gap-3 p-5">
                    <br/>
                    <div class="col-span-12">
                        <file-download class="text-white py-4 px-4 rounded-15 h-56" :files="files"></file-download>
                    </div>
                    
                    <div class="col-span-8">
                    </div>
                    <div class="col-span-4">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded save-button" @click="handleSaveTaskSolutionUpdate">POTVRDIT</button>
                    </div>
                </div>
            </div>
        </div>
        <!--<div v-if="User.debug === true">
            {{taskSolution}}
        </div>-->
    </div>
</template>

<script>
import * as api from "../../constants/api";
import * as appView from "../../constants/appView";
import * as fileHelper from "../../helpers/fileHelper";
import * as generalHelper from "../../helpers/generalHelper";
import FileDownload from "./taskEvaluation/fileDownload.vue";

export default {
name: "TaskEvaluation",
props:{
    taskSolutionId:String
},
components:{
    FileDownload
},

data(){
    return{
        taskSolution:{
            task:{
                deadline: "",
                name: "",
                subject:{
                    name:""
                }
            },
            student:{
                name:"",
                surname:""
            },
            class: {
                name: ""
            },
            score:null
        },
        files: [],
        fileUrl: ""
    }
},
methods:{
    Config(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` }}
    },
    ConfigDownload(token) {
        console.log(token)
        return {
            headers: { Authorization: `Bearer ${token}` },
            responseType: "blob"
            }
    },
    handleBackButton(){
        this.$store.commit('setActiveViewWithProps', {
            view: appView.SHOW_SOLUTIONS,
            props: {
                task_id: this.StoreProps.task_id
            }
        })
    },
    handleSaveTaskSolutionUpdate(){
        this.axios.post(api.ADD_SCORE,{
            task_solution_id: this.taskSolution.task_solution_id,
            task_id: this.taskSolution.task_id,
            student_id: this.taskSolution.student_id,
            score: this.taskSolution.score
        }, this.Config(this.User.accessToken)).then((response) => {
                console.log(response)
            })
    },
    formatTime(time, delimeter) {
        return generalHelper.formatTime(time, delimeter)
    }
},
computed: {
    User(){
        console.log(this.$store.getters.getUser)
        return this.$store.getters.getUser
    },
    StoreProps(){
        return this.$store.getters.getAppState.activeViewProps
    }
},
created(){
    let propsSolutionId = this.StoreProps.solution_id
    //předtím než se pohled začne renderovat volá data pro task (id) jak je získá volá data příslušná k tasku => subject a assignment
    this.axios.get(api.GET_TASK_SOLUTION+propsSolutionId, this.Config(this.User.accessToken)).then((response) => {
            console.log(response)
            this.taskSolution = response.data

            this.axios.get(api.GET_STUDENT+this.taskSolution.student_id, this.Config(this.User.accessToken)).then((response) => {
                console.log(response)
                this.taskSolution.student = response.data

            }).then(() => {
            this.axios.get(api.GET_CLASS+this.taskSolution.student.class_id, this.Config(this.User.accessToken)).then((response) => {
                console.log("\n\nCLASS: \n", response, "\n\n")
                this.taskSolution.class = response.data

            })
            })
            this.axios.get(api.GET_TASK+this.taskSolution.task_id, this.Config(this.User.accessToken)).then((response) => {
                console.log(response)
                this.taskSolution.task = response.data

                this.axios.get(api.GET_SUBJECT+this.taskSolution.task.subject_id, this.Config(this.User.accessToken)).then((response) => {
                    console.log(response)
                    this.taskSolution.task.subject = response.data

                })
            })

            const assignmentFileName = this.taskSolution.file_path.split("\\")
            console.log(assignmentFileName)
            const parametersInUrl = assignmentFileName[assignmentFileName.length - 2]+"/"+assignmentFileName[assignmentFileName.length - 1]
            
            this.axios.get(api.DOWNLOAD_FILE+parametersInUrl, this.ConfigDownload(this.User.accessToken)).then((response) => {
                console.log(response)
                this.fileUrl = fileHelper.dataToFile(response.data, response.headers["content-type"])
                this.files.push(this.fileUrl)
            })
        })
}
};
</script>

<style scoped lang="less">
.save-button {
    width: 100%;
    margin-top: 30px;
}
button{
    background-color: #1687A7;
}
button:hover{
    background-color: #115e74;
}

.isVisible{
    display: block !important;
}
.form-error{
    color: red;
    display: none;
}

.inputError{
    border: 1px solid red;
}

.rounded-15 {
    border-radius: 15px;
}

.main-container {
    background-color: #D3E0EA;
}

.desc {
    height: 150px;
    border-radius: 5px;
}

.save-button{
    width: 100%;
}
input, select{
    border-radius: 5px;
    height: 40px;
    padding-left: 5px;
}

.checkboy{
    height: 25px;
    width: 25px;
}
.back-button{
    margin-left: 20px;
}

.score-input {
    margin-left: 10px;
    margin-top: -5px;
}

label{
    line-height: 40px;
    font-size:17px;
}
</style>
