<template>
    <div class="bg-white p-5 grid grid-cols-12 gap-3">
        <a href="#" download="taskSolution.docx" class="file col-span-4 p-3">
            {{files[0]}}
        </a>
        <!--<a href="#" class="bg-blue-900 col-span-4 p-3">
            Soubor1.txt
        </a>
        <a href="#" class="bg-blue-900 col-span-4 p-3">
            Soubor1.txt
        </a>
        <a href="#" class="bg-blue-900 col-span-4 p-3">
            Soubor1.txt
        </a>-->
    </div>
</template>

<script>

export default {
name: "FileDownload",
props:{
    files: Array
},
data(){
    return{
        
    }
},
methods:{
},
computed: {
},
};
</script>

<style scoped lang="less">
.file {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #BDBABA;
    background-color: #E5E5E5;
    color: #7D7D7D;

    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

</style>
