<template>
  <div class="bg-white h-screen w-screen text-gray-500 m-0">
    <Header msg="Welcome to Your Vue.js App" />
    <SideMenu />
    <component class="ml-12" :is="getActiveViewComponent" />
    <Footer />
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import SideMenu from "./components/SideMenu.vue";
import File from "./components/File.vue";
import AddNewFile from "./components/AddNewFile.vue"
import Login from "./components/Login.vue";
import Footer from "./components/Footer.vue";
import ShowTask from "./components/content/showTask.vue";
import ShowSolutions from "./components/content/showSolutions.vue";
import AddTask from "./components/content/addTask.vue";
import EditTask from "./components/content/editTask.vue";
import TaskEvaluation from "./components/content/taskEvaluation.vue";
import ShowAssignments from "./components/content/showAssignments.vue";
import MyTasks from "./components/content/myTasks.vue";
import * as appView from "./constants/appView";
import * as api from "./constants/api";
import * as loginHelper from "./helpers/loginHelper";

export default {
  name: "App",
  components: {
    Header,
    SideMenu,
    File,
    AddNewFile,
    Login,
    Footer,
    ShowTask,
    ShowSolutions,
    AddTask,
    TaskEvaluation,
    ShowAssignments,
    EditTask,
    MyTasks
  },
  data:() => {
    return {
      timer: null
    }
  },
  methods:{
    setNewUserToken(token){
      this.$store.commit('setNewUserToken', token)
    },
    getNewaccessToken(){
      console.log("Sendinf request for new accessToken...")
      this.axios.post(api.NEW_ACCESS_TOKEN, {
        token:this.User.refreshToken
      })
      .then((response) => {
        console.log(response.data)
        try {
          console.log(loginHelper.decodeToken(response.data.accessToken));
        } catch (e) {
          console.log(e)
        }
        this.setNewUserToken(response.data.accessToken)
      })
    },
    getUser(){
      console.log(this.User)
      return this.User
    }
  },
  computed:{
    AppState(){
        console.log(this.$store.getters.getAppState)
        return this.$store.getters.getAppState
    },
    User(){
      console.log(this.$store.getters.getUser)
      return this.$store.getters.getUser
    },
    getActiveViewComponent(){
      console.log("active view: ", this.AppState.activeView)
      switch (this.AppState.activeView) {
        case appView.VIEW_FILE:
          return "File"
        case appView.VIEW_ADD_NEW_FILE:
          return "AddNewFile"
        case appView.LOGIN:
          return "Login"
        case appView.SHOW_TASK:
          return "ShowTask"
        case appView.SHOW_SOLUTIONS:
          return "ShowSolutions"
        case appView.ADD_TASK:
          return "AddTask"
        case appView.TASK_EVALUATION:
          return "TaskEvaluation"
        case appView.SHOW_ASSIGNMENTS:
          return "ShowAssignments"
        case appView.EDIT_TASK:
          return "EditTask"
        case appView.MY_TASKS:
          return "MyTasks"
        default:
          return "File"
      }
    }
  },
  mounted() {
    this.timer = setInterval(()=>{
      console.log(this.User)
      if (this.User.login === ""){
        this.$store.commit('setActiveView', appView.LOGIN)
      }
      if(Date.now() - this.User.accessTokenExpiration.getTime()>=-5000){
        this.getNewaccessToken()
      }
      
    },5000)

  },
};
</script>

<style lang="less">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  input{
    color:#2c3e50
  }
}
.view {
  margin-left: 80px;
  top: 50px;
  position: absolute;
}
</style>
